version: "3.8"

services:
  nginx:
    build: ./nginx
    container_name: nginx
    volumes:
      - wordpress_files:/var/www/html
      # - ./ssl-cert.pem:/etc/ssl/certs/ssl-cert.pem
      # - ./ssl-cert.key:/etc/ssl/private/ssl-cert.key 
    ports:
      - "443:443"
    env_file:
      - .env
    networks:
      - app_net
    restart: always


  mariadb:
    build: ./mariadb
    container_name: mariadb
    volumes:
      - wordpress_db:/var/lib/mysql
    env_file:
      - .env
    networks:
      - app_net
    restart: always

  wordpress:
    build: ./wordpress
    container_name: wordpress
    volumes:
      - wordpress_files:/var/www/html
    env_file:
      - .env
    networks:
      - app_net
    restart: always

volumes:
  wordpress_db:
  wordpress_files: # Ajout pour une meilleure persistance des fichiers WordPress

networks:
  app_net:
    driver: bridge